<div class="ntHome" id="home">
    <!-- particles -->
    <div id="particles-js"></div>
    <!-- particles ends!-->
    <div class="container">
            <div class="mainTitle noselect">
                <div class="main-box ">

                <div class="ntInnerSection ntRegisterForm">
                    <div class="container">
                        <img src="img/logo.jpg" class="img-thumbnail" alt="...">
                        <h6>WELCOME TO THE</h6>
                        <h2>DINNER PARTY</h2>
                        <div class="ntSubTitle block-center">JOIN US IN RAISING AWARENESS AND FUNDS TO BENEFIT
                            <br> GENEVA CENTRE FOR AUTISM, SUPPORTING THE INCLUSION OF <br> ALL INDIVIDUALS WITH ASD IN
                            OUR COMMUNITIES.
                        </div>
                        <form action="/" method="POST" id="registerForm">
                            <div class="row">
                                <div class="col-md-6"><input type="text" name="first_name" placeholder="First Name"
                                                             required autocomplete="off"/></div>
                                <div class="col-md-6"><input type="text" name="last_name" placeholder="Last Name"
                                                             required autocomplete="off"/></div>
                                <div class="col-md-6"><input type="email" name="email" placeholder="Email"
                                                             required autocomplete="off"/></div>
                                <div class="col-md-6"><input type="text" name="company_name" placeholder="Company Name"
                                                             required autocomplete="off"/></div>

                                <div class="checkbox col-md-6">
                                    <label style="font-size: 1em">
                                        <input type="checkbox"  name="receive_email" value="true">
                                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                        Receive Email from ICON
                                    </label>
                                </div>


                                <div class="col-md-12">
                                    <div class="ntSubmit">
                                        <button type="submit" class="btn btn-ntPrimaryFull ntMedium">Register
                                        </button>
                                        <button type="reset" class="btn btn-ntPrimaryBorder ntMedium">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </form>


                    </div>

                </div>


            </div>
        </div>
    </div>

</div>